parser/extension/*.js
parser/extension/*.txt
parser/local

server/static
server/upload

ui/build

node_modules
dist

/old

*_legacy

*.zip
*.lnk
*.csv
*.cmd
*.data
*.sublime-workspace

package-lock.json
upp.config.js

!parser/extension/popup.js